:root { 
--white_A700_3f:#ffffff3f; 
--blue_A200:#3a8ef6; 
--blue_gray_500_02:#6e6b8f; 
--blue_gray_500_01:#677185; 
--white_A700_59:#ffffff59; 
--gray_200_01:#e7e7e7; 
--blue_gray_700:#4f555a; 
--pink_500:#ed1e79; 
--deep_purple_A200:#6e39f9; 
--gray_600:#8a8484; 
--gray_400:#c7c7c7; 
--orange_A200:#ffa24b; 
--blue_700:#2971dd; 
--amber_500:#fbbc05; 
--gray_800:#404040; 
--red_A200:#ff4b4b; 
--blue_gray_500:#667085; 
--blue_800_75:#115ebf75; 
--gray_900_5a:#2424245a; 
--indigo_A400_01:#524ff5; 
--gray_200:#efefef; 
--gray_100_03:#f3f3fc; 
--gray_100_02:#f6f6f6; 
--gray_100_04:#f8f6f6; 
--gray_400_01:#b3b3b3; 
--indigo_A700:#4a3aff; 
--gray_100_01:#f3f3fd; 
--gray_400_00:#bbbbbb00; 
--blue_gray_700_02:#515151; 
--white_A700:#ffffff; 
--blue_gray_700_01:#4f545b; 
--blue_gray_700_03:#52575c; 
--blue_gray_50:#eaf0f7; 
--indigo_A200:#4474f2; 
--red_500:#ea4335; 
--light_green_A200:#a1f65e; 
--green_600:#34a853; 
--amber_A400:#f8c800; 
--black_900_21:#00000021; 
--black_900:#000000; 
--light_green_500:#8ec641; 
--blue_A200_01:#4285f4; 
--gray_500_01:#a0a4a8; 
--black_900_26:#00000026; 
--deep_purple_A200_01:#7b61ff; 
--gray_900_02:#1c2128; 
--blue_gray_50_01:#eff0f6; 
--gray_700:#6a6a6a; 
--gray_900_03:#181c20; 
--blue_gray_700_cc:#515151cc; 
--gray_900_04:#25282b; 
--gray_500:#acadac; 
--amber_600:#ffb100; 
--gray_900:#1c2129; 
--gray_900_01:#1b2129; 
--blue_600:#1678f2; 
--indigo_A400_26:#4461f226; 
--gray_300_03:#d9dbe9; 
--gray_300:#dfdfdf; 
--gray_300_02:#e6e6e6; 
--gray_300_01:#dcdfdc; 
--gray_100:#f0f1fd; 
--indigo_A400:#4461f2; 
--blue_600_33:#1578f233; 
--blue_gray_400_66:#908b8b66; 
}